<html>
  <head>
    <title>Mobile Controller Games </title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="/_ah/channel/jsapi"></script>
  </head>
  <body>    
      <div> Creator: {{ creator }} </div>
      <div> Status: {{ status }} </div>
      <div> {{ date }} </div>
      <div> {{ players }} </div>

      <form action="/room/play" method="get">
	    <div><input id="play" type="submit" value="Play"></div>
    </form>

<script src="js/standard.js"></script>
    <script>
      channel = new goog.appengine.Channel('{{ token }}');
      socket = channel.open();
      socket.onopen = onOpened;
      socket.onmessage = onMessage;
      socket.onerror = onMessage;
      socket.onclose = onMessage;

     /* $('#play').click(function(event)
      {
          $.ajax({
              type: 'GET',
              url: '/room/play/',
              timeout: '10000',
              success: function(d)
              {
              },
              error: function(request, status, err) {
                 console.log(request);
           console.log(status);
                 console.log(err);      
              } 
           });
      });*/
  </script>


  </body>
</html>